@model CatchMe.Models.task
@using session = CatchMe.Helpers.UserSession


<div style="font-family: Calibri">
    Dear User,<br />

    You received a notification from Catch ME! from <b>@session.Current.Fullname</b>

    <h2 style="color:#777">@Model.task_id @Model.title</h2>

    <br />
    Status: <b>@Model.StatusDesc</b>

    <b>Last Comment:</b>
    <p>
        <b>@Model.comments.LastOrDefault().title</b>

        @Html.Raw(Model.comments.LastOrDefault().description)

    </p>

    <p>Read More:</p>
    <a href="@string.Concat("http://localhost:25894/Tasks/EditTask/",@Model.task_id)">@Model.title</a>
    or paste this in your browser (preferably not IE)<br />
    @string.Concat("http://localhost:25894/Tasks/EditTask/", @Model.task_id)

    <pre>
    Regards,
    BugMe 
    (CatchMe Admin)
</pre>
</div>
