@model IEnumerable<CatchMe.Models.information>

@{
    ViewBag.Title = "InfoList";
}

<h2><span class="fa fa-info-circle"></span>nfo Items</h2>
<table class="table" id="tableinfo" style="width:100%">

    <thead>
        <tr>
            <th>
                Id
            </th>

            <th width="45%">
                Title
            </th>

            <th>
                Opened on
            </th>

            <th>Updated by</th>
            <th>Updated on</th>
            <th>Importance</th>

            <td></td>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.OrderBy(i => i.importance))
        {
            <tr>
                <td>
                    <span class="text-muted fa-15x">@item.information_id</span>
                </td>
                <td>
                    <span class="fa fa-15x fa-info-circle color-@item.ImportanceDesc.ToLower()"></span> <a href="@Url.Action("ShowInfo", new { id = item.information_id })">@item.title</a>
                </td>
                <td>@item.created_on.Value.ToString("dd MMM yyyy HH:mm") </td>

                <td>@item.user.firstname</td>

                <td>@item.updated_on.Value.ToString("dd MMM yyyy HH:mm")</td>

                <td><span class="fa fa-circle color-@item.ImportanceDesc.ToLower()"></span>&nbsp; @item.ImportanceDesc</td>

                <td>
                    <span class="fa fa-@(item.HasAttachment?"paperclip":"")"></span>
                </td>

            </tr>
        }
    </tbody>
</table>




<p>
    <a href="@Url.Action("CreateTask","Tasks")">Create New</a>
    
</p>

