@model IEnumerable<CatchMe.Models.task>

@using session = CatchMe.Helpers.UserSession
@using appenums = CatchMe.Helpers.AppEnums
@{
    ViewBag.Title = "Catch Me";

    
}

<div>
    <div class="pull-left"><h2>@session.Current.CurrentProject</h2></div>
    <div class="pull-right" style="margin-top:20px;">
       @if(session.Current.MyProjects.Count() > 1)
       {           
        @Html.DropDownList("project_id", null, htmlAttributes: new { @class = "projectselect pull-right changeproject" })           
       }
    </div>
</div>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.test_status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.initiator)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.priority)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.due_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.project.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            

            <span class="label label-@(item.StatusDescLabel)">@Html.DisplayFor(modelItem => item.StatusDesc)</span>

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TestStatusDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            <span class="readmore">
            @Html.DisplayFor(modelItem => item.description)

            </span>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.initiator)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PriorityDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.due_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.project.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditTask", new { id=item.task_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.task_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.task_id })
        </td>
    </tr>
}

</table>


@section scripts {
    <script>
        $(document).ready(function () {

            $(".projectselect").select2({
                minimumResultsForSearch: Infinity
            });


            $('body').on('change', '.changeproject', function () {
                var project_id = $(this).val();
                alert(project_id);


                // similar behavior as an HTTP redirect
                window.location.replace(getVirtualDir()+"Tasks/Tasklist/"+project_id);

                // similar behavior as clicking on a link
                //window.location.href = "http://stackoverflow.com";
                
            });


            $('.readmore').readmore({
                speed: 75,
                collapsedHeight: 40,
                lessLink: '<a href="#">Read less</a>'
            });


        });

    </script>
    }
