@model IEnumerable<CatchMe.Models.viewTasks>
@using session = CatchMe.Helpers.UserSession
@{
    ViewBag.Title = "Index";
    @Scripts.Render("~/bundles/chart")
    var t1 = Model.Where(x => x.type_code == 1).Count();
    var t2 = Model.Where(x => x.type_code == 2).Count();
    var t3 = Model.Where(x => x.type_code == 3).Count();
    var t4 = Model.Where(x => x.type_code == 4).Count();
    var t5 = Model.Where(x => x.type_code == 5).Count();
    var t6 = Model.Where(x => x.type_code == 6).Count();

    var s0 = Model.Where(x => x.status_code == 0).Count();
    var s1 = Model.Where(x => x.status_code == 1).Count();
    var s2 = Model.Where(x => x.status_code == 2).Count();
    var s3 = Model.Where(x => x.status_code == 3).Count();
    var s4 = Model.Where(x => x.status_code == 4).Count();
    var s5 = Model.Where(x => x.status_code == 5).Count();
    //var s6 = Model.Where(x => x.status_code == 6).Count();
    var s7 = Model.Where(x => x.status_code == 7).Count();
    var s8 = Model.Where(x => x.status_code == 8).Count();
    var s9 = Model.Where(x => x.status_code == 9).Count();

    var backlogs = ViewBag.Backlog as List<CatchMe.Models.backlog>;

    var bcklglbl = ViewBag.BackLogLabel as string;

    var bcklgopen = ViewBag.BackLogOpen as string;
    var bcklgclose = ViewBag.BackLogClosed as string;


    var figures = ViewBag.Figures as CatchMe.Models.viewFigures;

    var lastbacklogdate = backlogs.Last().fulldate;
    var openTasks = ViewBag.OpenTasks as List<CatchMe.Models.task>;

}


<h2>Project Stats</h2>
<div class="row">
    <div class="col-md-3">
        <h3>By Type</h3>
<canvas id="pertype" width="400" height="400"></canvas>
    </div>

    <div class="col-md-3">
        <h3>By Status</h3>
        <canvas id="perstatus" width="400" height="400"></canvas>
    </div>

    <div class="col-md-6">
        <h3>Backlog</h3>
        <canvas id="backlog" width="800" height="400"></canvas>
    </div>

</div>
<br />

@if (session.Current.IsProjectLead || session.Current.IsAdmin)
{
    <div class="row">
        <h3>By Person (open)</h3>
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="text-left">Assigned To</th>
                        <th class="text-center"><span class="fa fa-asterisk"></span>&nbsp;New</th>
                        <th class="text-center"><span class="fa fa-play"></span>&nbsp;Action</th>
                        <th class="text-center" title="Investigation"><span class="fa fa-search"></span>&nbsp;invst</th>
                        <th class="text-center" title="Completed"><span class="fa fa-check-circle"></span>&nbsp;Compld</th>
                        <th class="text-center"><span class="fa fa-pause"></span>&nbsp;On Hold</th>
                        <th class="text-center" title="problem"><span class="fa fa-bomb"></span>&nbsp;Prob</th>
                        <th class="text-center"><span class="fa fa-trophy"></span>&nbsp;Passed</th>
                        <th class="text-center"><span class="fa fa-warning"></span>&nbsp;Failed</th>
                        <th class="text-center">Total</th>

                    </tr>
                </thead>
                <tbody>
                    @{var prevuser = -1; }
                    @foreach (var task in openTasks.OrderBy(x => x.user.user_id))
                    {
                        if (task.user.user_id != prevuser)
                        {
                            <tr>
                                <th>@task.user.firstname</th>
                                <td class="text-center">@openTasks.Count(x => x.user == task.user & x.status == 0)</td>
                                <td class="text-center">@openTasks.Count(x => x.user == task.user & x.status == 1)</td>
                                <td class="text-center">@openTasks.Count(x => x.user == task.user & x.status == 2)</td>
                                <td class="text-center">@openTasks.Count(x => x.user == task.user & x.status == 3)</td>
                                <td class="text-center">@openTasks.Count(x => x.user == task.user & x.status == 4)</td>
                                <td class="text-center">@openTasks.Count(x => x.user == task.user & x.status == 5)</td>
                                <td class="text-center">@openTasks.Count(x => x.user == task.user & x.status == 7)</td>
                                <td class="text-center">@openTasks.Count(x => x.user == task.user & x.status == 8)</td>
                                <th class="text-center">@openTasks.Count(x => x.user == task.user & x.status < 9)</th>

                            </tr>
                        }

                        prevuser = task.user.user_id;
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <th class="text-center">@openTasks.Count(x => x.status == 0)</th>
                        <th class="text-center">@openTasks.Count(x => x.status == 1)</th>
                        <th class="text-center">@openTasks.Count(x => x.status == 2)</th>
                        <th class="text-center">@openTasks.Count(x => x.status == 3)</th>
                        <th class="text-center">@openTasks.Count(x => x.status == 4)</th>
                        <th class="text-center">@openTasks.Count(x => x.status == 5)</th>
                        <th class="text-center">@openTasks.Count(x => x.status == 7)</th>
                        <th class="text-center">@openTasks.Count(x => x.status == 8)</th>
                        <th class="text-center"><span style="font-size:1.2em"> @openTasks.Count(x => x.status < 9)</span></th>

                    </tr>
                </tfoot>

            </table>

        </div>

    </div>
                        }



<script>
    var ctx1 = document.getElementById("perstatus");

    
    Chart.defaults.global.legend.display = false;



    var ctx = document.getElementById("pertype");
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ["dev", "chg", "bug", "fail", "test", "inve"],
            datasets: [{
                label: '# task type',
                data: [@t1, @t2, @t3, @t4, @t5, @t6],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.6)',
                    'rgba(54, 162, 235, 0.6)',
                    'rgba(255, 206, 86, 0.6)',
                    'rgba(75, 192, 192, 0.6)',
                    'rgba(153,102, 255, 0.6)',
                    'rgba(255, 159, 64, 0.6)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    });





    var ctx = document.getElementById("perstatus");
    var myDoughnutChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels:
                [
                       "New",
              "Action",
              "Investigate",
              "Complete",
              "Hold",
              "Problem",
              //"No Issue",
              "Passed",
              "Failed",
              "Closed"

                ], datasets: [{
                    label: '# status',
                    legend: false,
                    data: [@s0,@s1,@s2,@s3,@s4,@s5,@s7,@s8,@s9],
                    backgroundColor: [
                        'rgba(51,122,183, 0.6)',
                        'rgba(240,173,78, 0.6)',
                        'rgba(240,173,78, 0.6)',
                        'rgba(91,192,222, 0.6)',
                        'rgba(119,119,119,0.6)',
                        'rgba(217,83,79,  0.6)',
                        //'rgba(119,119,119,0.6)',
                        'rgba(92,184,92,  0.6)',
                        'rgba(217,83,79,  0.6)',
                        'rgba(119,119,119,0.6)'
                    ],
                    borderColor: [
                        'rgba(51,122,183, 1)',
                        'rgba(240,173,78, 1)',
                        'rgba(240,173,78, 1)',
                        'rgba(91,192,222, 1)',
                        'rgba(119,119,119,1)',
                        'rgba(217,83,79,  1)',
                        //'rgba(119,119,119,1)',
                        'rgba(92,184,92,  1)',
                        'rgba(217,83,79,  1)',
                        'rgba(119,119,119,1)'
                    ],
                    borderWidth: 1
                }]
        },
        options: {
            animation: {
                animateScale: true
            }

        }
    });

    myDoughnutChart.legend.display = false;

    var ctx = document.getElementById("backlog");
    var myChart = new Chart(ctx, {
        //type: 'doughnut',
        type: 'line',
        data: {
            labels: [@Html.Raw(bcklglbl)]
            , datasets: [{
                label: '# open',
                legend: false,
                data: [@Html.Raw(bcklgopen)],
                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                borderColor: 'rgba(255,99,132,1)',
                borderWidth: 1
            },
            {
                label: '# closed',
                legend: false,
                data: [@Html.Raw(bcklgclose)],
                backgroundColor: 'rgba(92,184,92, 0.6)',
                borderColor: 'rgba(92,184,92,1)',
                borderWidth: 1
            }]
        },
        options: {
            animation: {
                animateScale: true
            }

        }
    });


    


</script>
