
@using session = CatchMe.Helpers.UserSession
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <input type="hidden" id="svrpath" value="@Url.Content("~")" />
    <div class="navbar navbar-light navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Catch ME", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    
                    <li><a href="@Url.Action("Index","Tasks")" title="Home"><span class="fa fa-home"></span> </a></li>
                    <li><a href="@Url.Action("Create","Tasks")" title="create task"><span class="fa fa-tasks"></span> </a></li>
                    <li><a href="@Url.Action("Index","Admin")" title="Admin"><span class="fa fa-wrench"></span> </a></li>                    
                </ul>                
                <p class="nav navbar-text navbar-right">Hello, @session.Current.Firstname!</p>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
