@model IEnumerable<CatchMe.Models.user>

@{
    ViewBag.Title = "ListUsers";
}

<h2>List Users</h2>
<ol class="breadcrumb">
    <li><a href="@Url.Action("Index")">Home</a></li>
    <li class="active">Users</li>
</ol>

<br />
<p>
    <a href="@Url.Action("AddUser", "Admin")" class="btn btn-primary btn-sm"><span class="fa fa-user-plus"></span>&nbsp;Add User</a>
</p>

<table class="table">
    <tr>
        <th>
            User
        </th>
        <th>
            @Html.DisplayNameFor(model => model.job_title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.role)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.is_active)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            <a href="@Url.Action("EditUser",new { id = item.user_id })">@Html.DisplayFor(modelItem => item.firstname) @Html.DisplayFor(modelItem => item.lastname) (@Html.DisplayFor(modelItem => item.username))</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.job_title) - @Html.DisplayFor(modelItem => item.team)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.role)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.is_active)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditUser", new { id=item.user_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.user_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.user_id })
        </td>
    </tr>
}

</table>
