@model IEnumerable<CatchMe.Models.viewVisit>

@{
    ViewBag.Title = "Visits";
    var connectedUsers = ViewBag.ConnectedUsers as System.Collections.Concurrent.ConcurrentDictionary<string, CatchMe.ChatHub.MyUserType>;
}

<h2>Visits</h2>
<ol class="breadcrumb">
    <li><a href="@Url.Action("Index")">Home</a></li>
    <li class="active">Visits</li>
</ol>

<h4>There are currently <b>@connectedUsers.Count</b> connected users.</h4>
<ul>
    @foreach(var u in connectedUsers.OrderByDescending(x=>x.Value.connectionTime))
    {
        <li> <b>@u.Value.username</b> connected on @u.Value.browser since @u.Value.connectionTime.ToString("dd MMM yyyy HH:mm") (@u.Key)  </li>
    }
</ul>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastlogin)
        </th>
        <th class="text-center">Since</th>
        <th>Action</th>
    
    </tr>

@foreach (var item in Model.OrderByDescending(o=>o.lastlogin)) {
    <tr>
        <td>
            <span class="fa fa-circle  @(item.since==0?"color-now":(item.since==1?"color-medium":"color-high"))"> </span>
            @Html.DisplayFor(modelItem => item.firstname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastlogin)
        </td>
        <td class="text-center">@Html.Raw(item.LastUpdatedSince)</td>
        <td class="text-light">@item.operation @item.type</td>

    </tr>
}

</table>
